@media screen and (max-width: 1080px) {

  .service__cards {
    width: 40%;
  }

  .footer__content {
    flex-basis: 100%;
    text-align: center;
  }

  .footer__logo {
    margin: 0 auto;
  }

  .footer__service {
    flex-basis: 350px;
  }

  .footer__site__map {
    flex-basis: 150px;
  }

  .footer__main {
    flex-wrap: wrap;
  }

  .footer__social {
    margin: 10px auto;
  }

  .footer__service {
    flex-basis: 50%;
    margin-top: 25px;
  }

  .footer__site__map {
    margin-top: 25px;
    flex-basis: 50%;
  }

  .footer__site__map h4 {
    text-align: center;
  }

  .footer__site__map ul {
    text-align: center;
  }

  .order__card p {
    font-size: 13px;
  }

  .creating__card {
    width: 40%;
  }

  .creating__card p {
    height: 25%;
  }
}

@media screen and (max-width: 875px) {
  .footer__service {
    flex-basis: 100%;
    margin-top: 25px;
  }

  .footer__site__map {
    margin-top: 25px;
    flex-basis: 100%;
  }

  .order__card p {
    font-size: 12px;
  }

}

@media screen and (max-width: 720px) {
  .loader {
    width: 10%;
  }

  .nav__logo {
    height: auto;
    margin-left: 15px;
  }

  .topnav {
    background: #222222;
    transition: 0.4s ease-in width;
    width: 50px;
    height: 50px;
    border-radius: 10%;
    margin: 10px 0 0 10px;
  }

  .topnav a {
    display: none;
    padding: 0;
  }

  .topnav img {
    display: none;
  }

  .topnav.responsive {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: black;
    transition: 0.5s width;
    text-align: center;
    align-items: center;
    border-radius: 0;
    margin: 0;
  }

  .topnav.responsive a {
    display: block;
    font-size: 25px;
    font-weight: 700;
  }

  .topnav.responsive img {
    display: block;
  }

  .topnav a.icon {
    display: block;
    color: #ffffff;
    font-size: 25px;
    text-decoration: none;
  }

  .topnav.responsive a.icon {
    margin-right: 0;
    display: block;
    color: #c3c3c3;
    font-size: 25px;
    text-decoration: none;
  }

  .topnav.responsive > .nav__description {
    display: block;
  }

  .header__image__phone {
    display: none;
  }

  .header__image__main {
    flex-basis: 100%;
  }

  .header__nav {
    flex-basis: 0;
  }

  .header__nav__main {
    display: none;
  }

  .service__studio {
    flex-direction: row;
  }

  .service__cards {
    width: 100%;
  }

  .left__navigation {
    display: none;
  }

  .order__cards {
    flex-direction: column;
  }

  .arrow-1 {
    display: none;
  }

  .order__card {
    width: 90%;
    border-radius: 20px;
    margin: 20px 5% 0 5%;
    transition: .5s;
  }

  .order__card p {
    font-size: 20px;
  }

  .order__card:hover {
    transform: translateY(+10px);
    transition: .5s;
  }

  .order__card:last-child:hover {
    transform: translateY(-10px);
    transition: .5s;
  }

  .creating__card {
    width: auto;
  }

  .creating__card p {
    height: auto;
  }

}